<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <title>bilive_client</title>
  <link rel="stylesheet" href="/view/style.css">
  <!--图标字体库-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--jquery-->
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <!--materialize框架-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <!--materialize_js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script async src="/view/script.js"></script>
  <!--覆写自定义属性-->
  <link rel="stylesheet" href="/view/override.css">
  <!--延时更新土司-->
  <script>
    function update() {
        setTimeout(function () {
            $('.tooltipped').tooltip({delay: 0});
        },1000);
    }
    update();
  </script>
</head>
<body class="hide container">
<div>
  <h1>Bilive Client     <iframe src="https://ghbtns.com/github-btn.html?user=lzghzr&repo=bilive_client&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe></h1>
</div>
<h5>Options Panel</h5>
  <div>
    <div class="options"></div>
    <h5>Clients Panel</h5>
    <div class="select">
      <input type="button" id="save" class="inline btn waves-effect waves-light" value="保存">
      <input type="button" id="add" class="inline btn waves-effect waves-light" value="添加" onclick="update()">
    </div>
    <div class="usersdata"></div>
  </div>

</body>

</html>